[submodule "deps/argo"]
	path = deps/argo
	url = https://github.com/ecosnail/argo
[submodule "deps/flat"]
	path = deps/flat
	url = git@github.com:ecosnail/flat.git
[submodule "deps/tempo"]
	path = deps/tempo
	url = https://github.com/ecosnail/tempo.git
